{% extends 'main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/post_details.css' %}">

{% endblock  %}
{% block body %}
{% if request.user == post.author  or  request.user.is_superuser %}

<p class='postcontent'> are you sure you want to  delete this post ?! </p>

<div class='centerstage'>
<form  method="post">
    {% csrf_token %}


<input type="submit" value='delete' class='btn btn-danger'>





</form>
<a href='/post/{{post.id}}'" class='btn btn-secondary'> cancel </a> 

</div>


{% else %}

<h1> sorry you can't complete this permision </h1>
<a href='/post/{{post.id}}'"> go back  </a> 
{% endif %}


{% endblock %}