{% extends 'main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/post_details.css' %}">

{% endblock  %}
{% block body %}

{% if post.author != request.user and post.published_date == None  %}
<h1 class='posttitle '> sorry not found </h1>
{% else %}
<h1 class="posttitle "  >
{{post.title}}
</h1>
<div id='middle_column'>
<p class=" postcontent " >
{{post.text}}
</p>
</div>
<div class="postinfo">
<p> author: {{post.author}} </p>
{% if request.user == post.author  or  request.user.is_superuser %}

<p> created: {{post.create_time}}</p>
{% endif %}

<p>
   published : {{post.published_date}}
</p>

</div>
{% if request.user == post.author  or  request.user.is_superuser %}

<div class="btn-actions " >
   {% if post.published_date == None %}
<button onclick="window.location='/post/{{post.id}}/publish'" class="single-btn  btn btn-primary ">publish</button>
{% else %} 
<button onclick="window.location='/post/{{post.id}}/unpublish'" class="single-btn  btn btn-primary ">unpublish</button>
{% endif %}
<button onclick="window.location='/post/{{post.id}}/update'" class="single-btn btn btn-secondary">edit</button>
<button onclick="window.location='/post/{{post.id}}/delete/'" class="single-btn btn btn-danger"> delete</button>
</div>
{% endif %}




{% endif %}






{% endblock %}